body {
    font-family: 'Minecraft', sans-serif;
    background-color: #000;
    color: #00f;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #000;
    padding: 20px 0;
}

h1 {
    color: #00f;
    font-size: 36px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.box {
    width: 30%;
    background-color: #000;
    border: 2px solid #00f;
    padding: 20px;
    margin: 10px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.content {
    transition: transform 0.5s, opacity 0.5s;
}

@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf') format('truetype');
}
